<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">
<link rel="stylesheet" href="/stylesheets/show.css">

<div class="row">
  <div class="col-6">
    <div id="houseExamples" class="carousel slide">
      <div class="carousel-inner">
        <% campground.images.forEach((img,i)=>{ %>
        <div class="carousel-item <%= i==0?"active":"" %>">
          <img  src="<%=img.url%>" class="d-block w-100 showpageImg" alt="" crossorigin="anonymous">
        </div>  
        <% }) %>
      </div>
      <% if(campground.images.length>1){%>
      <button class="carousel-control-prev" type="button" data-bs-target="#houseExamples" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#houseExamples" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <% } %>
    </div>

      <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= campground.title%></h5>
            <p class="card-text"><%= campground.description%></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-secondary"><%= campground.location%></li>
            <li class="list-group-item text-secondary">Submitted by <%= campground.owner.username%></li>
            <div class="d-flex justify-content-between">
            <div>
            <li class="list-group-item" style="border: none;">$<%= campground.price%>/Night</li>
            </div>

            <div>
              <span id="car-icon"><i class="uil uil-car-sideview dist-icons"></i></span>
              <span id="plane-icon"><i class="uil uil-plane dist-icons"></i></span>
              <span id="train-icon"><i class="uil uil-metro dist-icons"></i></span>
              <span id="distance" class="badge rounded-pill text-bg-success m-2 p-2 px-4"><%=campground.carDist%> KM</span>
            </div>




            </div>

          </ul>
          <div class="card-body">
            <% if(currentUser && campground.owner.equals(currentUser._id)){ %>
            <a href="/houses/<%=campground._id%>/edit" class="card-link btn btn-warning text-light">Edit <i class="uil uil-pen"></i></a>
            <form class="d-inline" action="/houses/<%=campground._id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete <i class="uil uil-trash"></i></button>
          </form>
          <% } %>
          <a href="#date" class="card-link btn text-bg-primary" id="date-click">Book Now <i class="uil uil-book-open"></i></a>

          </div>
          <div class="card-footer text-secondary">
              2 Days ago
          </div>
        </div>



        <div class="calendar-date d-flex justify-content-start mb-5">
        <div class="calendar-wrap" id="date">
          <h2 class="month-year"><%const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
          ];%> <%= monthNames[new Date().getMonth()]%>  <%=  new Date().getFullYear() %></h2>
        
          <table class="calendar">
            <thead>
              <tr>
                <th class="day-title" scope="col">Sun</th>
                <th class="day-title" scope="col">Mon</th>
                <th class="day-title" scope="col">Tue</th>
                <th class="day-title" scope="col">Wed</th>
                <th class="day-title" scope="col">Thu</th>
                <th class="day-title" scope="col">Fri</th>
                <th class="day-title" scope="col">Sat</th>
              </tr>
            </thead>
            <tbody>
              <tr class="week">
                <td class="day prev-mon" tabindex="0"><span class="day-number">29</span></td>
                <td class="day prev-mon" tabindex="0"><span class="day-number">30</span></td>
                <td class="day prev-mon" tabindex="0"><span class="day-number">31</span></td>
                <td class="day" tabindex="0"><span class="day-number">1</span></td>
                <td class="day" tabindex="0"><span class="day-number">2</span></td>
                <td class="day" tabindex="0"><span class="day-number">3</span></td>
                <td class="day" tabindex="0"><span class="day-number">4</span></td>
              </tr>
              <tr class="week">
                <td class="day" tabindex="0"><span class="day-number">5</span></td>
                <td class="day" tabindex="0"><span class="day-number">6</span></td>
                <td class="day" tabindex="0"><span class="day-number">7</span></td>
                <td class="day" tabindex="0"><span class="day-number">8</span></td>
                <td class="day" tabindex="0"><span class="day-number">9</span></td>
                <td class="day" tabindex="0"><span class="day-number">10</span></td>
                <td class="day" tabindex="0"><span class="day-number">11</span></td>
              </tr>
              <tr class="week">
                <td class="day" tabindex="0"><span class="day-number">12</span></td>
                <td class="day" tabindex="0"><span class="day-number">13</span></td>
                <td class="day" tabindex="0"><span class="day-number">14</span></td>
                <td class="day" tabindex="0"><span class="day-number">15</span></td>
                <td class="day" tabindex="0"><span class="day-number">16</span></td>
                <td class="day" tabindex="0"><span class="day-number">17</span></td>
                <td class="day" tabindex="0"><span class="day-number">18</span></td>
              </tr>
              <tr class="week">
                <td class="day" tabindex="0"><span class="day-number">19</span></td>
                <td class="day" tabindex="0"><span class="day-number">20</span></td>
                <td class="day" tabindex="0"><span class="day-number">21</span></td>
                <td class="day" tabindex="0"><span class="day-number">22</span></td>
                <td class="day" tabindex="0"><span class="day-number">23</span></td>
                <td class="day" tabindex="0"><span class="day-number">24</span></td>
                <td class="day" tabindex="0"><span class="day-number">25</span></td>
              </tr>
              <tr class="week">
                <td class="day" tabindex="0"><span class="day-number">26</span></td>
                <td class="day" tabindex="0"><span class="day-number">27</span></td>
                <td class="day" tabindex="0"><span class="day-number">28</span></td>
                <td class="day" tabindex="0"><span class="day-number">29</span></td>
                <td class="day" tabindex="0"><span class="day-number">30</span></td>
                <td class="day" tabindex="0"><span class="day-number">31</span></td>
                <td class="day next-mon" tabindex="0"><span class="day-number">1</span></td>
              </tr>
            </tbody>
          </table>
          
          <a class="button reset" href="/houses/thankyou">Book now</a>
        </div>
        </div>
        
        
        






















  </div>
  <div class="col-6">
    <div  id='map'></div>
    <div class="row my-4">
      <div class="col-md-3 border py-3 ms-3" style="border-radius: 1rem;">
       <span class="ms-4 ps-4"><i class="uil uil-bed-double show-page-icons"></i></span>
        <div class="text-center">
            <%=Math.floor(Math.random()*4)+1%> Bedrooms<br>
            <%=Math.floor(Math.random()*2)+1%> Queen Beds
        </div>        
      </div>
      <div class="col-md-3 border py-3 ms-5"style="border-radius: 1rem;">
        <span class="ms-3 ps-4"><i class="uil uil-bath show-page-icons"></i></span>
        <div class="text-center">
            Dedicated Shower
        </div>

      </div>
      <div class="col-md-3 border py-3 ms-5"style="border-radius: 1rem;">
        <span class="ms-3 ps-4"><i class="uil uil-wifi show-page-icons"></i></span>
        <div class="text-center">
            High Speed Wifi
        </div>

      </div>
    </div>

    <div class="row ms-2">
      <div class="col-md-6">
        <div class="d-flex justify-content-between mb-1">
        <span>Hygiene</span>
        <div class="progress mt-2" role="progressbar" aria-label="Example 2px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width: 50%;margin-top: 5px; ">
          <div class="progress-bar" style="background-color:#FF6666;"></div>
        </div>
        </div>

        <div class="d-flex justify-content-between mb-2">
          <span>Communication</span>
          <div class="progress mt-2" role="progressbar" aria-label="Example 2px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width: 50%;margin-top: 5px;">
            <div class="progress-bar" style="width: 55%;background-color:#FF6666;"></div>
          </div>
          </div>

          <div class="d-flex justify-content-between mb-2">
            <span>Accuracy</span>
            <div class="progress mt-2" role="progressbar" aria-label="Example 2px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width: 50%;margin-top: 5px;">
              <div class="progress-bar" style="width: 55%;background-color:#FF6666;"></div>
            </div>
            </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="d-flex justify-content-between mb-2">
          <span>Check In</span>
          <div class="progress mt-2" role="progressbar" aria-label="Example 2px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width: 50%;margin-top: 5px;">
            <div class="progress-bar" style="width: 55%;background-color:#FF6666;"></div>
          </div>
          </div>

          <div class="d-flex justify-content-between mb-2">
            <span>Location</span>
            <div class="progress mt-2" role="progressbar" aria-label="Example 2px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width: 50%;margin-top: 5px;">
              <div class="progress-bar" style="width: 55%;background-color:#FF6666;"></div>
            </div>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <span>Value</span>
              <div class="progress mt-2" role="progressbar" aria-label="Example 2px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width: 50%;margin-top: 5px;">
                <div class="progress-bar" style="width: 55%;background-color:#FF6666;"></div>
              </div>
              </div>
      </div>
    </div>
  




    <% if(currentUser){ %>
    <h4 class="mt-2">Leave a review</h4>
    <p id="status" class="d-none my-0 text-danger alert alert-danger alert-dismissible fade show" role="alert">
      <i class="uil uil-exclamation-triangle mx-3"></i> Please Add a Rating
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </p>
    <form action="/houses/<%=campground._id%>/reviews"method="POST" class="mb-3 validated-form reviewForm" novalidate>
      <!-- <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input class="form-range" type="range"min="0" max="5" name="review[rating]" id="rating">
      </div> -->
      <fieldset class="starability-coinFlip mt-4">
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
      <div class="mb-3">
        <textarea class="form-control" placeholder="Write a Review" name="review[body]" id="body" cols="30" rows="5"></textarea>
        <div class="valid-feedback">
          Looks good!
      </div>
      </div>
      <button class="btn btn-success">Submit <i class="uil uil-message"></i></button>
    </form>
    <% } %>
    <% for(let review of campground.reviews){ %>
      <h6>Reviews</h6>
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
          <h6 class="card-subtitle ps-1 text-body-secondary"><i class="uil uil-user me-2"style="font-size:1.5rem"></i><%=review.author.username%></h6>
          <p class="font-monospace" style="color: grey;"><i class="uil uil-calendar-alt"></i> <%=new Date().toISOString().split("T")[0]  %></p>

          </div>
          <div class='stars-wrapper mb-1'>
            <% for( let i = 0; i < review?.rating; i++ ) { %>
                <div class='star-filled'>&#9733;</div>
            <% } %>
            <% for( let i = 0; i < 5 - review?.rating; i++ ) { %>
                <div class='star-empty'>&#9734;</div>
            <% } %>
        </div>
          <p class="card-text ps-1"><%=review.body%></p> 
          <% if(currentUser && review.author.equals(currentUser._id)){ %>
          <form action="/houses/<%=campground._id%>/reviews/<%=review._id%>?_method=Delete"method="POST">
            <div class="container ">
              <div class="row justify-content-between">
                <div class="col-11"></div>
                <div class="ms-auto col-1">
                  <button class="btn btn-sm btn-danger "><i class="uil uil-trash"></i></button>
                </div>
              </div>
            </div>
          </form>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>
</div>










































<script>
  const reviewForm = document.querySelector(".reviewForm");
    const defaultStarInput = document.querySelector("input[name='review[rating]']");
    const statusContainer = document.querySelector("#status");
    if(reviewForm) {
        reviewForm.addEventListener("submit", function(e) {
            if(defaultStarInput.checked) {
                statusContainer.classList.remove("d-none");
                e.preventDefault();
            } else {
                statusContainer.classList.add("d-none");
            }
        })
    }
</script>

<script >
const mapToken = '<%- process.env.MAPBOX_TOKENS %>';
const houseLocation = <%- JSON.stringify(campground) %>;
const reviewLength=<%=campground.reviews.length %>;



function getRandomNumber() {
  return Math.floor(Math.random() * 80) + 20;
}

let progressBars = document.querySelectorAll(".progress-bar");

for (let i = 0; i < progressBars.length; i++) {
  let progressBar = progressBars[i];
  let width = getRandomNumber() + "%";
  progressBar.style.width = width;
}   



const carIcon = document.getElementById("car-icon");
const planeIcon = document.getElementById("plane-icon");
const trainIcon = document.getElementById("train-icon");
const distanceDisplay = document.getElementById("distance");

let currentMode = "car"; // Keep track of the current transportation mode

// Event listener for car icon
carIcon.addEventListener("click", () => {
  if (currentMode !== "car") {
    currentMode = "car";
    carIcon.classList.add("click-dist-icons")
    trainIcon.classList.remove("click-dist-icons")
    planeIcon.classList.remove("click-dist-icons")
    // Generate and set car distance (example: randomly generated distance)
    distanceDisplay.textContent = `<%=campground.carDist%> KM`;
  }
});

// Event listener for plane icon
planeIcon.addEventListener("click", () => {
  if (currentMode !== "plane") {
    currentMode = "plane";
    planeIcon.classList.add("click-dist-icons")
    trainIcon.classList.remove("click-dist-icons")
    carIcon.classList.remove("click-dist-icons")
    // Generate and set air distance (example: randomly generated distance)
    distanceDisplay.textContent = `<%=campground.airDist%> Hrs`;
  }
});

// Event listener for train icon
trainIcon.addEventListener("click", () => {
  if (currentMode !== "train") {
    currentMode = "train";
    trainIcon.classList.add("click-dist-icons")
    planeIcon.classList.remove("click-dist-icons")
    carIcon.classList.remove("click-dist-icons")

    // Generate and set train distance (example: randomly generated distance)
    distanceDisplay.textContent = `<%=campground.metroDist%> Hrs`;
  }
});


//calendar

let dragging = false;
let days = document.querySelectorAll('.day');
let offset = 0;

function activateDay() {
  let activeElement = document.activeElement;
  let activeAItem = document.querySelector('.active-a');
  let activeBItem = document.querySelector('.active-b');
  
  if (activeAItem && activeBItem) {
    clearActiveDays();
    clearRange();
    activeElement.classList.add('active-a');
    return;
  }
  
  if (activeAItem) activeElement.classList.add('active-b');
  else activeElement.classList.add('active-a');
}

function clearActiveDays() {
  let activeAItem = document.querySelector('.active-a');
  let activeBItem = document.querySelector('.active-b');
  
  if (activeAItem) activeAItem.classList.remove('active-a');
  if (activeBItem) activeBItem.classList.remove('active-b');
}

function clearRange() {
  days.forEach(item => {
    item.classList.remove('range');
  });
}

function calculateRange() {
  let activeAIndex, activeBIndex;

  days.forEach((item, index) => {
    if (item.classList.contains('active-a')) activeAIndex = index;
    if (item.classList.contains('active-b')) activeBIndex = index;
  });

  if (activeAIndex < activeBIndex) {
    for (let i = activeAIndex; i <= activeBIndex; i++) {
      days[i].classList.add('range');
    }
  }

  if (activeAIndex > activeBIndex) {
    for (let i = activeAIndex; i >= activeBIndex; i--) {
      days[i].classList.add('range');
    }
  }
}

function startMove(item) {
  dragging = true;
  
  let activeAItem = document.querySelector('.active-a');
  let activeBItem = document.querySelector('.active-b');
  
  if (!activeBItem && activeAItem) {
    item.classList.add('active-b');
    calculateRange();
  } else {
    clearActiveDays();
    clearRange();
    item.classList.add('active-a');
  }
}

function move(item) {
  if (dragging) {
    let activeA = document.querySelector('.active-a');
    let prevActiveB = document.querySelector('.active-b');

    clearRange();

    if (prevActiveB) prevActiveB.classList.remove('active-b');
    if (!item.classList.contains('active-a')) item.classList.add('active-b');

    let activeB = document.querySelector('.active-b');

    calculateRange();
  }
}

function endMove(item) {
  dragging = false;
}

window.addEventListener('mouseup', e => {
  dragging = false;
});

days.forEach((item, index) => {
  let dayNumber = item.querySelector('.day-number').innerHTML;
  
  if (dayNumber === '1' && !item.classList.contains('next-mon')) {
    offset = index;
  }
  
  item.addEventListener('mousedown', e => {
    startMove(item);
  });
  
  item.addEventListener('mousemove', e => {
    move(item);
  });
  
  item.addEventListener('mouseup', e => {
    endMove(item);
  });
});

window.addEventListener('keyup', e => {
  let key = e.keyCode;
  
  switch (key) {
    case 13:
      activateDay();
      calculateRange();
      break;
  }
});

document.querySelector('.reset').addEventListener('click', e => {
  clearActiveDays();
  clearRange();
});
  let bookbtn=document.getElementById("date-click")
  let div = document.getElementById("date");

  // Add the "active" class to the div element.
  if(bookbtn){
    bookbtn.addEventListener("click",()=>{
      div.classList.add("calendar-date");

    })
  }



</script>




<script src="/javascripts/showMap.js"></script>